.starwheel-filter {
  filter: brightness(0) saturate(100%) invert(85%) sepia(31%) saturate(139%) hue-rotate(202deg)
    brightness(105%) contrast(105%);
}

.starwheel-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; /* hides horizontal overflow */
  pointer-events: none; /* ensures interactions go through the container */
  z-index: -50;
}

.starwheel {
  width: 100%;
  overflow: hidden;
  pointer-events: none;

  svg {
    z-index: -50;
    display: block;
    position: absolute;
    left: 50%;
    top: -600%;
    size: 400vw;
    width: 700vw;
    height: 700vh;
    margin-left: -350vw;
    animation-name: starwheel;
    animation-duration: 1000s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @media prefers-reduced-motion {
      animation-name: none;
    }
  }
}

@keyframes starwheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
